<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides 
    pager="true" 
    [options]="slideOpts">
    <ion-slide>
      <img src="../../assets/store-svgrepo-com.svg" alt="poroppo-logo"/>
      <h2 i18n="Tutorial Page | Welcome Title@@welcomeTitle">Welcome</h2>
      <p i18n="Tutorial Page | Welcome Text@@welcomeText">
        Poroppo helps Merchants and Custumers keep in touch. Find the best prodocts 
        nearby shops can offers.
      </p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/store-svgrepo-com.svg" alt="poroppo-logo"/>
      <h2 i18n="Tutorial Page | Key Features Title@@keyFeaturesTitle">
        Send your product request
      </h2>
      <p i18n="Tutorial Page | Key Features Text@@keyFeaturesText">
        Ask for products and choose the best matching. Contact the store you choose and 
        make arrangements for pick and pay, delivery or shipment. 
      </p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/store-svgrepo-com.svg" alt="poroppo-logo"/>
      <h2 i18n="Tutorial Page | Start now Title@@startNowTitle">Start Now</h2>
      <p i18n="Tutorial Page | Start now Text@@startNowText">
        Create a Poroppo account to take advantage of all amzing service. If you are a Merchant 
        just register to Poroppo to insert your stor today.
      </p>
      <ion-button fill="solid" i18n="Tutorial Page | Login Button@@loginButtonText">
        Login to Poroppo
      </ion-button>
      <ion-button 
        href="home"
        fill="clear" 
        i18n="Tutorial Page | Explore Button@@exploreButtonText">
        Explore Poroppo
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>